@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --font-family: "Lora", serif;
  --primary-color: #7cae7a;
  --secondary-color: #e09f7d;
  --tertiary-color: #5e565a;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  color: black;
}

body {
	background: linear-gradient(-45deg, #e09f7d, #e73c7e, #7cae7a, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
  font-family: var(--font-family);
  color: black;
  margin: 0;
  padding: 0;
  grid-template-columns: auto;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 1em;
  text-align: center;
}

.card {
  background-color: var(--primary-color);
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.intro{
  background-color: var(--secondary-color);
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
  align-items: center;
}

section {
  padding: 1em;
}












